<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog</title>
    </head>
    <body>
        <h1>Hello World?!</h1>
    <p style="text-align:justify">
        - Postagens em português (Brasil) aqui.
        <br><br>
    </p>
    <p style="text-align:justify">
        Não espere por uma crise para descobrir o que é importante em sua vida.
    </p>
    <p style="text-align:justify; font-size:smaller">&nbsp;&nbsp; - Platão</p>
    <p style="text-align:justify; font-size:x-small">&nbsp;&nbsp;&nbsp;&nbsp;03/02/2025</p>
    </body>

    <a
  href="../"
  class="fixed bottom-4 right-4 text-sm text-gray-500 hover:text-gray-700 transition"
>
  ➜ Back to resume
</a>
</html>